.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.box {
    height: 500px;
}

.box .boxl {
    width: 80%;
    height: 100%;
}

.box .boxl ul {
    width: 95%;
    height: 35%;
    padding: 20px;
}

.box .boxl ul li {
    width: 12%;
    height: 95%;
    float: left;
    margin-right: 18px;
    border: 1px solid transparent;
}

.box .boxl ul li.active {
    border-color: red;
}



.box .boxl h2 {
    height: 80px;
    font-size: 20px;
    line-height: 80px;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
}

.box .boxl .xinxi {
    height: 150px;

}

.box .boxl .xinxi span {
    float: left;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-optical-sizing: 16px;
}

.box .boxl .xinxi button {
    float: right;
    background: none;
    border: 2px solid rgb(255, 127, 148);
    padding: 12px 25px;
    margin-top: 25px;
}



.box2 {
    height: 500px;
    background: #f1f1f1;
}

.box2 .boxleft {
    float: left;
    width: 70%;
    height: 100%;
}

.box2 .boxleft h2 {
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.box2 .boxleft p {
    height: 40px;
}

.box2 .boxleft p span {
    float: left;
    width: 44px;
    height: 44px;
    margin-right: 6px;
    margin-bottom: 6px;
    border: 1px solid #999;
    text-align: center;
    line-height: 44px;
}

.box2 .boxleft p span.active {
    background: rgb(39, 170, 39);
    color: #fff
}

.box2 .boxleft p span:first-child {
    text-align: center;
    color: #fff;
    line-height: 44px;
    border-radius: 50% 0 0 50%;
    background: #333;
}

.box2 .boxright {
    background: #fff;
    float: right;
    width: 25%;
    height: 100%;
    padding-left: 12px;
}

.box2 .boxright .xix p {
    width: 130px;
    height: 150px;
    margin-bottom: 30px;
}

.box2 .boxright li {
    height: 30px;
    line-height: 30px;
}

.box2 .boxright li span {
    margin-right: 12px;
    color: #999;
}

.box2 .boxright>p {
    padding-top: 20px;
}

.box2 .boxright .tabzuo {
    height: 60px;
    padding: 0px 0 20px 0;
}

.box2 .boxright .tabzuo span {
    float: left;
    border: 1px solid #ccc;
    padding: 3px 6px;
    margin: 6px 6px 0 0;
}

.box2 .boxright .jiage li {}

.box2 .boxright .jiage li span {}

.box2 .boxright .jiage li b {
    font-weight: 300;
    color: rgb(255, 127, 148);
    padding: 0 12px;
}


.box2 .boxright button {
    width: 80%;
    color: #fff;
    background: rgb(255, 127, 148);
    border: none;
    padding: 12px 25px;
    margin-top: 5px;
}

.box2 .boxright button.col {
    background: #ccc;
    color: #000;
}